<div class="panel panel-default">

	<div class="panel-heading">
		<h1>Forgot your password?</h1>
	</div>

	<div class="panel-body">
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="form-group">
		  	<%= f.label :email %>
		  	<%= f.email_field :email, :autofocus => true, class: "form-control" %>
		  </div>

		  <div class="form-group">
		  	<%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
	</div>

	<% end %>
	</div>

	<div class="panel-footer">
		<%= render "devise/shared/links" %>
	</div>

</div>